<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <headder>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
      <span>
       <%= link_to "Bookers", root_path, class: 'navbar-brand' %>
      </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
         <li><%= link_to "Home", user_path(current_user.id), class: "nav-link text-light" %></li>
         <li><%= link_to "Users", users_path, class: "nav-link text-light" %></li>
         <li><%= link_to "Books", books_path, class: "nav-link text-light" %></li>
         <li><%= link_to "logout", destroy_user_session_path, class: "nav-link text-light", method: :delete %></li>
        </ul>
       <% else %>
        <ul class="navbar-nav ml-auto">
         <li><%= link_to "Home", root_path, class: "nav-link text-light" %></li>
         <li><%= link_to "About", about_path, class: "nav-link text-light" %></li>
         <li><%= link_to "sign up", new_user_registration_path, class: "nav-link text-light" %></li>
         <li><%= link_to "login", new_user_session_path, class: "nav-link text-light" %></li>
        </ul>
       <% end %>
      </div>
     </div>
    </nav>
   </headder>

   <%= yield %>
   <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
   </footer>
  </body>
</html>
